@import "tailwindcss";

:root {
  background-color: #09090b; /* Zinc 950 */
  color: #fafafa; /* Zinc 50 */
}

/* Opcional: para suavizar las fuentes en este fondo oscuro */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
