@import "tailwindcss";

:root {
  background-color: #09090b; /* Zinc 950 */
  color: #fafafa; /* Zinc 50 */
}

/* Opcional: para suavizar las fuentes en este fondo oscuro */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SCROLLBAR CUSTOMIZATION (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a; /* Zinc 800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* Zinc 700 */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}
